.roadmap__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.roadmap__lists {
    padding-top: 1.5rem;
}

.roadmap__lists>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.roadmap__lists>ul>li {
    height: 405px;
}

.roadmap__lists>ul>li {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    flex-basis: 22%;
}

.roadmap__lists>ul>li:nth-child(2) {
    padding-top: 190px;
}

.roadmap__lists>ul>li:nth-child(3) {
    padding-top: calc(190px - 61px);
}

.roadmap__lists>ul>li:nth-child(4) {
    padding-top: 190px;
}

.roadmap__lists .text ul {
    padding-left: 1rem;
}

.roadmap__lists .btn {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    gap: 7px;
}

.roadmap__bar {
    background: #6f0b89;
    max-width: 351px;
    width: 100%;
    border-radius: 8px;
    min-height: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.progress-animation {
    position: relative;
    width: 100%;
}

.progress-animation>span {
    z-index: 2;
}

.progress-animation>.shape {
    position: absolute;
    left: 0;
    top: 0;
    width: 61%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #20ece0;
    z-index: 1;
    -webkit-animation: 1s linear progress;
    animation: 1.5s linear progress;
}

.pulse {
    -webkit-animation: 0.5s linear 0.4s infinite alternate pulse;
    animation: 0.5s linear 0.4s infinite alternate pulse;
}

.roadmap__bar-pulse {
    position: absolute;
    right: 0%;
    top: -100%;
    animation: pulsebar1 2s ease;
}

.roadmap__progress {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmap__progress span {
    white-space: nowrap;
}

.roadmap__list-row-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    gap: 7px;
}

.roadmap__bottom-list-second-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 7px;
}

.roadmap__list-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 18px;
    gap: 7px;
    max-width: 375px;
    min-width: 375px;
}

.roadmap__bottom-list-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 18px;
    gap: 7px;
    max-width: 370px;
    min-width: 370px;
}

.roadmap__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 7px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-width: 20rem;
}

@-webkit-keyframes pulse {
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse {
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-webkit-keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 61%;
        background: #20ece0;
    }
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 61%;
        background: #20ece0;
    }
}

@-webkit-keyframes pulse {
    100% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    0% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@media (max-width: 340px) {
    .progress-animation>.shape {
        width: 44% !important;
    }

    @keyframes progress {
        0% {
            width: 0%;
        }

        100% {
            width: 44%;
            background: #20ece0;
        }
    }
}

@media (max-width: 425px) {
    .progress-animation>.shape {
        width: 51%;
    }

    @keyframes progress {
        0% {
            width: 0%;
        }

        100% {
            width: 51%;
            background: #20ece0;
        }
    }
}

@media (max-width: 495px) {
    .progress-animation>.shape {
        width: 58%;
    }

    @keyframes progress {
        0% {
            width: 0%;
        }

        100% {
            width: 58%;
            background: #20ece0;
        }
    }
}

@media (min-width: 1040px) {

    @keyframes progress {
        0% {
            width: 0%;
        }

        100% {
            width: 61%;
            background: #20ece0;
        }
    }
}

@media (max-width: 1050px) {
    .roadmap__lists>ul{
        overflow-x: scroll;
        height: 100%;
        overflow-y: hidden;
        padding-bottom: 48px;
    }
}

/*@media (max-width: 1050px) {*/
/*    .roadmap__lists>ul {*/
/*        flex-flow: column nowrap;*/
/*        align-items: center;*/
/*        justify-content: center;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(3)>.text,*/
/*    .roadmap__lists>ul>li:nth-child(1)>.text {*/
/*        order: 2;*/
/*        justify-content: flex-start !important;*/
/*    }*/

/*    .roadmap__lists>ul>li {*/
/*        padding: 0 !important;*/
/*        flex-flow: row nowrap;*/
/*        justify-content: flex-start !important;*/
/*        align-items: flex-start;*/
/*        width: 450px !important;*/
/*        position: relative;*/
/*    }*/

/*    .roadmap__lists .text ul {*/
/*        padding-left: 0;*/
/*        height: 360px;*/
/*        justify-content: center !important;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(1) .text ul {*/
/*        height: 260px !important;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(1) .btn>div {*/
/*        width: 260px !important;*/
/*        left: 30px;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(2) .btn>div {*/
/*        width: 400px !important;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(3) .text ul {*/
/*        height: 200px !important;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(3) .btn>div {*/
/*        width: 180px !important;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(4) .text ul {*/
/*        height: 180px !important;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*    }*/

/*    .roadmap__lists>ul>li:nth-child(4) .btn>div {*/
/*        width: 180px !important;*/
/*        left: 30px;*/
/*    }*/

/*    .roadmap__lists .text {*/
/*        margin: 0;*/
/*        padding: 0;*/
/*        flex-basis: 80%;*/
/*    }*/

/*    .text ul {*/
/*        max-width: auto !important;*/
/*        min-width: auto !important;*/
/*        width: 100%;*/
/*    }*/

/*    .roadmap__lists .btn {*/
/*        transform: rotateZ(90deg);*/
/*        margin: 0 !important;*/
/*        padding: 0;*/
/*        flex-basis: 20%;*/
/*        position: inherit;*/
/*    }*/

/*    .roadmap__lists .btn>div {*/
/*        max-width: auto;*/
/*        width: 100%;*/
/*        position: absolute;*/
/*        left: 40px;*/
/*        top: 0;*/
/*    }*/

/*    .roadmap__lists .btn {*/
/*        padding: 0;*/
/*    }*/
/*}*/

@media (max-width: 1500px) {
    .roadmap__lists>ul>li:nth-child(1) {
        padding-top: 1.5rem;
    }
}

@media (max-width: 500px) {
    /*.roadmap__lists>ul>li {*/
    /*    width: 100% !important;*/
    /*}*/

    /*.roadmap__lists .btn>div {*/
    /*    top: -20px;*/
    /*}*/

    /*.roadmap__link {*/
    /*    font-size: 14px;*/
    /*}*/
}

.checked {
    color: #20ece0;
}

.roadmap__link {
    line-height: 150% !important;
}

p {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
}