body {
    background-color: black;
    background-image: url("./resources/bg.svg");
    background-position-y: 25vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

@media (max-width: 576px) {
    body {
        background-position-y: -75vh !important;
        background-size: 100% 100%;
        background-image: url("./resources/bg.svg");
    }
}